.body {
    height: 90%;
}

.x-shape {
    width: 25%;
    height: 100%;
}

.o-shape {
    width: 25%;
    height: 100%;
}

.game-board {
    width: 50%;
    height: 100%;
}

span {
    cursor: pointer;
    font-size: 4vw;
}

.rows {
    height: 33%;
    width: 100%;
}

.uk-card-default {
    width: 20%;
    height: 61%;
}

.game-row {
    width: 100%;
    height: 30%;
}