<div class="body" fxLayout="row" fxLayoutAlign="space-around start">
  <div class="x-shape container" fxLayout="column" dragula="DRAGULA_FACTS">
    <span>✖️</span>
    <span>✖️</span>
    <span>✖️</span>
  </div>

  <div class="game-board" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" class="game-row">
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
    </div>

    <div fxLayout="row" class="game-row">
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
    </div>

    <div fxLayout="row" class="game-row">
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
      <div dragula="DRAGULA_FACTS" class="uk-card uk-card-default uk-card-body"></div>
    </div>

  </div>

  <div class="o-shape" fxLayout="column" dragula="DRAGULA_FACTS">
    <span>🔵</span>
    <span>🔵</span>
    <span>🔵</span>

  </div>
</div>