.body {
    height: 90%;
    
}

.x-shape {
    width: 25%;
    height: 100%;
}

.o-shape {
    width: 25%;
    height: 100%;
}

.game-board {
    width: 50%;
    height: 100%;
}

span {
    cursor: pointer;
    font-size: 4vw;
}

.rows {
    height: 33%;
    width: 100%;
}

.game-row {
    width: 100%;
    height: 30%;
}

.uk-card {
    width: 30%;
}

.uk-card-default {
    box-shadow: inset 0 0 10px #000000;
}

.game-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-title {
    text-align: center;
}


