<div class="body" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="x-shape container" fxLayout="column" fxLayoutAlign="center center">
      <h1>Player 1</h1>
      <span id="x1" [draggable]="move_x" (dragstart)="drag($event)">✖️</span>
      <span id="x2" [draggable]="move_x" (dragstart)="drag($event)">✖️</span>
      <span id="x3" [draggable]="move_x" (dragstart)="drag($event)">✖️</span>
    </div>
  
    <div class="game-board" fxLayout="column">
      <h1 class="game-title">Game Board</h1>
      <div fxLayout="row" class="game-row" fxLayoutAlign="center">
        <div id="b1" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b1">🔵</span>
        </div>
        <div id="b2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b2">🔵</span>
        </div>
        <div id="b3" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b3">🔵</span>
        </div>
      </div>
      
      <div fxLayout="row" class="game-row" fxLayoutAlign="center">
        <div id="b4" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b4">🔵</span>
        </div>
        <div id="b5" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b5">🔵</span>
        </div>
        <div id="b6" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b6">🔵</span>
        </div>
      </div>
    
      <div fxLayout="row" class="game-row" fxLayoutAlign="center">
        <div id="b7" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b7">🔵</span>
        </div>
        <div id="b8" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b8">🔵</span>
        </div>
        <div id="b9" (drop)="drop($event)" (dragover)="allowDrop($event)" class="uk-card uk-card-default uk-card-body game-block">
            <span *ngIf="b9">🔵</span>
        </div>
      </div>
      
    </div>
  
    <div class="o-shape" fxLayout="column" fxLayoutAlign="center center">
        <h1>CPU</h1>
      <span *ngIf="show1" id="o1" [draggable]="false" (dragstart)="drag($event)">🔵</span>
      <span *ngIf="show2" id="o2" [draggable]="false" (dragstart)="drag($event)">🔵</span>
      <span *ngIf="show3" id="o3" [draggable]="false" (dragstart)="drag($event)">🔵</span>
      </div>
  </div>