.div-body {
    height: 18%;
    background-color: lightgray;
    

}

.body-total {
    width: 100%;
    height: 90%;
    background-image: url('../../assets/background.jpg');
    background-size: 100% 100%;
    
}

.div-body2 {
    height: 100%;
    
}

.div-btn {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
}

.btn {
    height: 25%;
    width: 25%;
    margin-top: 5%;
}